<!DOCTYPE html>
<html>
  <head>
    <title>Pretator</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application"  %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="<%= image_path 'apple-touch-icon.png' %>" />
    
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>

