<!DOCTYPE html>
<html>
  <head>
    <title>Pretator</title>
    <%= stylesheet_link_tag    "reset", media: "all" %>
    <%= stylesheet_link_tag    "compass", media: "all" %>
    <%= javascript_include_tag "jquery"  %>
    <%= javascript_include_tag "compass"  %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    
    <link rel="apple-touch-icon" href="<%= image_path 'apple-touch-icon.png' %>" />
    
  </head>
  <body>

    <div id="container">
      <a href='#' class='about-toggle'>About</a>
      <%= yield %>
    </div>

    <%= render :partial => "layouts/about_box" %>
  </body>
</html>

